.shopping-list-title {
    background-color: var(--my-light-brown);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px;
}

.main-layout {
    display: flex;
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    margin: 8px;
    padding: 12px;
    width: 100%;
}

.sidebar h6 {
    border-bottom: 2px dashed var(--my-light-brown);
    color: var(--my-dark-brown);
}

.sidebar .list-item {
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 8px;
    background-color: #f5f5f5;
    color: black;
    cursor: pointer;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 100%;
}

.sidebar .list-item.selected {
    background-color: var(--my-light-green);
    color: white;
}

.sidebar .new-list-btn {
    background-color: var(--my-light-green);
    color: white;
    border-radius: 30px;
    border: none;
}

.sidebar .new-list-btn:hover {
    background-color: var(--my-light-blue);
}

.shopping-list-display {
    flex-grow: 1;
    margin: 8px;
    width: 100%;
    overflow: hidden;
}

.list-box {
    padding: 16px;
}

.list-box .list-title {
    cursor: pointer;
    color: var(--my-ligh-blue);
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 100%;
}

.list-box .add-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.list-box .add-item-input {
    border-radius: 10px;
    width: 100%;
    border: 2px solid var(--my-light-green);
    box-sizing: border-box;
}

.list-box .add-button {
    display: inline-block;
    border-radius: 10px;
    background-color: var(--my-light-green);
    color: white;
    font-size: 26px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    max-width: 50px;
    height: auto;
}

.list-box .items-container {
    padding: 8px;
    border: 2px solid var(--my-light-blue);
    background-color: #d9effa;
    border-radius: 10px;
}

.list-box .item-row {
    margin-bottom: 8px;
    padding: 8px 16px;
    border-radius: 10px;
    background-color: white;
}

.list-box .item-text {
    min-width: 150px;
    font-style: italic;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 75%;
}

.list-box .item-actions {
    display: flex;
    align-items: center;
}

.list-box .action-button {
    padding: 8px;
    color: var(--my-light-brown);
}

@media (max-width: 768px) {
    .main-container {
        padding: 10px !important;
    }

    .main-layout {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        max-width: none;
        padding: 10px;
        margin: auto;
        box-sizing: border-box;
    }

    .shopping-list-display {
        width: 100%;
        margin: 16px auto;
    }

    .list-box {
        padding: 12px;
    }

    .list-box .item-text {
        max-width: 60%;
    }

    .sidebar .new-list-btn {
        width: 100%;
    }
}
