/* Header styles */
.header {
    background-color: var(--my-light-blue);
}

/* Button styles */
.header .nav-button {
    color: white;
    border-radius: 30px;
    font-weight: bold;
    padding: 10px;
}

.header .nav-button:hover {
    color: black;
    background-color: #70CDFF;
}

.header .nav-button .dropdown-icon {
    color: black;
    padding: 0 0 3.4px 0;
}

/* tooo */
.header .nav-item {
    color: blue;
    margin: 20px;
}

.box-grid {
    justify-content: center;
}

/* Recommended card styles */
.box-grid .recommended-card {
    background-color: var(--my-light-green);
    color: #fff;
    margin: 16px;
    width: 220px;
}

/* Card content text alignment */
.card-content {
    text-align: center;
    font-style: italic;
}

/* Search bar container */
.search-bar-container {
    padding: 20px;
    justify-content: center;
    max-width: 1000px;
    width: 100%;
}

/* Search input styles */
.search-input {
    background-color: white;
    border-radius: 30px;
}

/* Search icon color */
.search-bar-container .search-icon {
    color: var(--my-light-green);
}

.background-image {
    align-items: center;
    background-image: url('../../assets/recipe/eggs-looking-good.jpg');
    background-position: center;
    background-size: cover;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.slogan {
    font-size: 4em;
    font-family: 'Lobster', cursive;
    color: white;
    text-align: left;
    line-height: 1.2;
    width: 100%; 
    max-width: 1000px;
}

.highlight {
    color: var(--my-light-green);
    font-weight: bold;
}