/* Header styles */
.header {
    background-color: var(--my-light-blue);
}

/* Button styles */
.header .nav-button {
    color: white;
    border-radius: 0;
    font-weight: bold;
    padding: 20px 10px;
}

.header .nav-button:hover {
    color: black;
    background-color: #70CDFF;
}

.header .nav-button .dropdown-icon {
    color: black;
}

/* tooo */
.header .nav-item {
    color: blue;
    margin: 20px;
}

.box-grid {
    justify-content: center;
}

/* Recommended card styles */
.box-grid .recommended-card {
    background-color: var(--my-light-green);
    color: #fff;
    margin: 16px;
    width: 220px;
}

/* Card content text alignment */
.card-content {
    text-align: center;
}

/* Footer styles */
.footer {
    background-color: var(--my-dark-brown);
    padding: 16px;
    text-align: center;
    color: #fff;
}

/* Link styles */
.footer .link {
    margin: 0 10px;
    color: var(--my-light-brown);
}

/* Search bar container */
.search-bar-container {
    padding: 20px;
    display: flex;
    justify-content: center;
}

/* Search input styles */
.search-input {
    padding: 0px 5px;
}

/* Search icon color */
.search-bar-container .search-icon {
    color: var(--my-light-green);
}