.my-recipes {
    background-color: var(--my-light-green);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px;
}

.box-grid .empty {
    color: grey;
    font-size: 24px;
    text-align: center;
    flex-grow: 1;
    margin: 60px 0;
}