UPLOAD_DIR="/data"

# A path to a directory with DB data
DB_LOCAL_DIR=<path_to_db_storage>

# A path to a directory where all the images will be stored
IMAGE_LOCAL_DIR=<path_to_image_storage>

# A mysql root username
DB_USERNAME=root

# A mysql root password
DB_PASSWORD=<root_password>

# A mysql database name
DB_NAME=<databse_name>
